<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="game-container">
        <div class="header">
            <h1>DOMINIUM</h1>
            <p class="subtitle">Conquer all the continents, one by one.</p>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
</html>